 .u-section-1 {
  background-image: none;
  min-height: 1781px;
}

.u-section-1 .u-shape-1 {
  height: 475px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-shape-2 {
  height: 646px;
  width: 907px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -257px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-1 {
  height: 684px;
  width: 952px;
  object-position: 45.65% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -776px auto 0 calc(((100% - 1140px) / 2) + 81px);
}

.u-section-1 .u-group-1 {
  min-height: 1111px;
  width: 671px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -114px auto 0 calc(((100% - 1140px) / 2)  + -34px);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-3 {
  width: 58px;
  height: 58px;
  margin: 29px auto 0 40px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-family: Oswald, sans-serif;
  letter-spacing: normal;
  font-weight: 400;
  text-transform: none;
  margin: 12px 34px 0 46px;
}

.u-section-1 .u-text-2 {
  margin: 28px 40px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  margin: 62px auto 0 208px;
  padding: 20px 55px 21px 54px;
}

.u-section-1 .u-group-2 {
  min-height: 539px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 671px;
  margin: -1111px calc(((100% - 1140px) / 2)  + -101px) 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-4 {
  width: 58px;
  height: 58px;
  margin: 0 auto 0 40px;
}

.u-section-1 .u-text-3 {
  font-size: 6rem;
  font-family: Oswald, sans-serif;
  letter-spacing: normal;
  font-weight: 400;
  text-transform: none;
  margin: -6px 50px 0 30px;
}

.u-section-1 .u-text-4 {
  margin: 46px 40px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin: 62px 236px 0 auto;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1772px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    height: 675px;
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -105px;
    margin-left: calc(((100% - 940px) / 2) + -34px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 940px) / 2) + -101px);
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 9px;
    margin-left: 49px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
    margin-right: 48px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1614px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    height: 517px;
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: 53px;
    margin-left: calc(((100% - 720px) / 2) + -34px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 720px) / 2) + -101px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1485px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    height: 388px;
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 77px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 4.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 105px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1341px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    height: 244px;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}