body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#search-bar {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#search-input {
    width: 50%;
    padding: 0.5em;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
}

#search-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
}

#list-container {
    margin-top: 2em;
}

#list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#list li {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#list li:last-child {
    border-bottom: none;
}

#recommendations-container {
    margin-top: 2em;
}

#recommendations {
    list-style: none;
    padding: 0;
    margin: 0;
}

#recommendations li {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#recommendations li:last-child {
    border-bottom: none;
}